.TierListForObsidianTier {
	display: grid;
	min-height: 3vh;
	grid-template-columns: 10% auto 2em;
	background-color: var(--background-secondary);
}

.TierListForObsidianTierText {
	overflow: hidden;
	margin: 0 !important;
	justify-content: center;
	align-items: center;
	height: 8vh;
	display: flex;
	p {
		text-align: center;
		font-size: 3vh;
		margin: 0;
	}
}
.TierListForObsidianTierEdit {
	height: 8vh;
}
.TierListForObsidianTierEdit,
.TierListForObsidianTierText {
	grid-column: 1;
	grid-row: 1;
}

.TierListForObsidianTierChildren {
	grid-column: 2;
	grid-row: 1;

	&::before {
		content: "" !important;
		border-right: none !important;
	}
}
