
.TierListForObsidianButtonSmall{
    width: 2em;
    height: 2em;
    padding: .5em;
    svg{
    fill: var(--text-normal);
    &:hover{
        fill: var(--text-muted)
    }
    }
}

.TierListForObsidianApp{
    height: 100%;
    display: grid;
    grid-template-rows: 3em 2em calc(80% - 5em) auto;
}

.TierListForObsidianTitle{
    font-size: 2em;
    margin: 0 auto;
}
