.TierListForObsidianList {
	overflow-y: scroll;
	list-style: none;
	h3 {
		margin: 0;
		padding: 1em;
		text-align: center;
	}
	input {
		width: 100%;
	}
	ul {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}
}
